* {
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
    color: white;
    font-family: Verdana, sans-serif;
    font-size: 14px;
}
a {
    color: #ecb220;
    text-decoration: none;
    -moz-transition: color .4s ease;
    -ms-transition: color .4s ease;
    -o-transition: color .4s ease;
    -webkit-transition: color .4s ease;
    transition: color .4s ease;
}
a:hover {
    color: #ffd454;
}
#controls {
    position: absolute;
    top: 0;
    left: 0;
}
.control {
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    padding: 25px;
    font-size: 12px;
}
.control.title {
    color: #ad011b;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Lobster', cursive;
}
.control.last {
    border-radius: 0 0 10px 0;
}
.section {
    display: none;
}
#locationsMap {
    height: 600px;
}
#content {
    width: 1100px;
    margin: 30px 0 0 200px;
}
.clear {
    clear: both;
}
.tracker strong {
    font-weight: bold;
}